@use "src/shared/style/variables";

.app-notificator {
    margin: 0.5rem;
    position: fixed;
    z-index: 100;
    right: 1.5rem;
    top: 3.5rem;

    &__cleaner {
        display: flex;
        justify-content: center;

        padding: 0.25rem 0.5rem;
        margin-bottom: 0.75rem;

        transition: variables.$transition_15;
        transition-property: color, border-color, background-color;

        border: 1px solid #7a7a7a;
        border-radius: 4px;
        background-color: #fff;

        cursor: pointer;

        &:hover {
            border-color: #000;
        }

        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: right variables.$transition_15;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: right variables.$transition_15;
        }
    }
}
