.app-navbar {
    transition: 0.15s ease-in-out;
    transition-property: background-color;

    position: sticky;
    top: 0;

    .navbar-end {
        margin-right: 1.75rem;
        gap: 1.25rem;
    }
}
