.app-navbar {
    &__brand {
        margin: 0 0.5rem 0 0.75rem;
        align-items: center;
        display: flex;
        padding: 0.25rem 0.5rem;
    }
    &__name {
        color: white;
        margin-left: 0.5rem;
        font-size: 1.25rem;
    }
}
