.notification-story-item {
    padding: 0.25rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    border-left-style: solid;
    border-left-width: 5px;

    transition: 0.15s ease-out background-color;

    &:last-of-type {
        border-bottom-width: 0;
        border-bottom-left-radius: 4px;
    }
    &:first-of-type {
        border-top-left-radius: 4px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.125);

        & .notification-story-item__description span {
            color: black;
        }
    }

    &__description {
        padding-left: 0.25rem;

        span {
            font-size: 0.9rem;
            color: gray;
            font-style: italic;
        }
    }
}
