.has-title[title] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.275rem;
    cursor: help;
}

.height-is-100 {
    height: 100%;
}

.width-is {
    &-5rem {
        width: 5rem !important;
    }
    &-725rem {
        width: 7.25rem !important;
    }
    &-10rem {
        width: 10rem !important;
    }
    &-15rem {
        width: 15rem !important;
    }
    &-10 {
        width: 10% !important;
    }
}

.min-width {
    $width: 0;
    @while $width < 100 {
        &--is-#{$width} {
            min-width: #{$width}#{"%"} !important;
        }

        $width: $width + 10;
    }
}

.is-flex-grow- {
    @media screen and (min-width: 769px) {
        &0125 {
            flex-grow: 0.125 !important;
        }
        &025 {
            flex-grow: 0.25 !important;
        }
        &035 {
            flex-grow: 0.35 !important;
        }
        &05 {
            flex-grow: 0.5 !important;
        }
    }
}

table.table {
    &.has-sticky-header thead th {
        position: sticky;
        top: 0.125rem;
        z-index: 1;

        &.th-color--light-blue {
            background-color: #eff5fb;
            color: #296fa8;
        }
    }

    &.has-shadow-bordered-header thead th {
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    }

    &.has-borderless-header {
        thead th {
            border: none !important;
        }

        tbody tr:nth-child(1) td {
            border-top: none !important;
        }
    }
}

.is-borderless {
    border: none !important;
}

.has-margin {
    &-left-025r {
        margin-left: 0.25rem !important;
    }
}

.is-vertical-align {
    &--center {
        vertical-align: middle !important;
    }
}

.has-wrap-text {
    white-space: pre-line;
}
