.app-input {
    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2FsZW5kYXIiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTMuNSAwYS41LjUgMCAwIDEgLjUuNVYxaDhWLjVhLjUuNSAwIDAgMSAxIDBWMWgxYTIgMiAwIDAgMSAyIDJ2MTFhMiAyIDAgMCAxLTIgMkgyYTIgMiAwIDAgMS0yLTJWM2EyIDIgMCAwIDEgMi0yaDFWLjVhLjUuNSAwIDAgMSAuNS0uNXpNMSA0djEwYTEgMSAwIDAgMCAxIDFoMTJhMSAxIDAgMCAwIDEtMVY0SDF6Ii8+Cjwvc3ZnPg==");
        }
    }
}

.has-title[title] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.275rem;
    cursor: help;
}

.height-is-100 {
    height: 100%;
}

.width-is {
    &-5rem {
        width: 5rem !important;
    }
    &-725rem {
        width: 7.25rem !important;
    }
    &-10rem {
        width: 10rem !important;
    }
    &-15rem {
        width: 15rem !important;
    }
    &-10 {
        width: 10% !important;
    }
}

.is-flex-grow- {
    @media screen and (min-width: 769px) {
        &025 {
            flex-grow: 0.25 !important;
        }
        &035 {
            flex-grow: 0.35 !important;
        }
        &05 {
            flex-grow: 0.5 !important;
        }
    }
}

table.table {
    &.has-sticky-header thead th {
        position: sticky;
        top: 0.125rem;

        &.th-color--light-blue {
            background-color: #eff5fb;
            color: #296fa8;
        }

        &[data--has-border="true"] {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
        }
    }

    &.has-borderless-header {
        thead th {
            border: none !important;
        }

        tbody tr:nth-child(1) td {
            border-top: none !important;
        }
    }
}

.is-borderless {
    border: none !important;
}

.has-margin {
    &-left-025r {
        margin-left: 0.25rem !important;
    }
}

.is-vertical-align {
    &--center {
        vertical-align: middle !important;
    }
}
