@use "./style/table.scss";
@use "./style/width";
@use "./style/modifications";

.has-title[title] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.275rem;
    cursor: help;
}

.height-is-100 {
    height: 100%;
}

.is-flex-grow- {
    @media screen and (min-width: 769px) {
        &0125 {
            flex-grow: 0.125 !important;
        }
        &025 {
            flex-grow: 0.25 !important;
        }
        &035 {
            flex-grow: 0.35 !important;
        }
        &05 {
            flex-grow: 0.5 !important;
        }
    }
}

.is-borderless {
    border: none !important;
}

.has-margin {
    &-left-025r {
        margin-left: 0.25rem !important;
    }
}

.is-vertical-align {
    &--center {
        vertical-align: middle !important;
    }
}

.has-wrap-text {
    white-space: pre-line;
}
