@use "src/shared/style/variables";

.app-notificator__item {
    max-height: 12.5rem;
    overflow: auto;
    max-width: 17.5rem;
    font-size: 0.95rem;

    transition: variables.$transition_15;
    transition-property: color, background-color;

    white-space: pre-line;

    &-enter {
        opacity: 0;
        right: -100%;
    }
    &-enter-active {
        opacity: 1;
        right: 0;
        transition:
            opacity variables.$transition_15,
            right variables.$transition_15;
    }
    &-exit {
        opacity: 1;
        right: 0;
    }
    &-exit-active {
        opacity: 0;
        right: -110%;

        transition:
            opacity variables.$transition_15,
            right variables.$transition_15;
    }
}
