.app-accordion {
    .message {
        &-header {
            cursor: pointer;

            .bbr-icon {
                transition: transform 0.125s ease-in-out;
            }
        }
        &-body {
            color: black !important;
            transition: max-height 0.2s ease-out;
            overflow-y: inherit;
            padding: 0 1.5em;

            &__content {
                padding: 1.25em 0;
            }
        }
    }
    &[aria-expanded="true"] {
        .message-header i {
            transform: rotate(180deg);
        }
    }
    &[aria-expanded="false"] {
        .message-body {
            overflow-y: hidden;
        }
    }
}
